## ASSIGNMENT - 1

In [1]:
# IMPORTNG NECESSARY LIBRARIES 
import requests
from bs4 import BeautifulSoup
import pandas as pd

#### Q.1 Write a python program to display all the header tags from wikipedia.org

In [2]:
url = 'https://en.wikipedia.org/wiki/Main_Page'

In [3]:
def Wikipedia_headers(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # We Need to scrap all the header tags so lets create an empty list
    
    Headers = [i.text for i in soup.find_all('span',class_='mw-headline')]
    
    # Using List comprehension to scrape the data
            
    print(Headers)

In [4]:
Wikipedia_headers(url)

['Welcome to Wikipedia', "From today's featured article", 'Did you know\xa0...', 'In the news', 'On this day', "From today's featured list", "Today's featured picture", 'Other areas of Wikipedia', "Wikipedia's sister projects", 'Wikipedia languages']

#### Q2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [5]:
url = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'

In [6]:
def IMDB_top_movies(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # Since we Need information on Name , year and Rating, we create a empty List for each feature
    
    Movie_name = [name.a.text.replace('\n','') for name in soup.find_all('h3',class_='lister-item-header')]
    Year_of_Release = [year.text.replace('(','').replace(')','') for year in soup.find_all('span',class_='lister-item-year text-muted unbold')]
    Rating = [rate.text.replace('\n','') for rate in soup.find_all('div',class_='inline-block ratings-imdb-rating')]
    
    # We Create a DataFrame 
    data = {'Name of move': Movie_name, 'Year of Release': Year_of_Release, 'Rating': Rating}
    Movie_df = pd.DataFrame(data, index=range(1,101))
    print(Movie_df)

In [7]:
IMDB_top_movies(url)

                                      Name of move Year of Release Rating
1                         The Shawshank Redemption            1994    9.3
2                                    The Godfather            1972    9.2
3                                  The Dark Knight            2008    9.0
4    The Lord of the Rings: The Return of the King            2003    9.0
5                                 Schindler's List            1993    9.0
..                                             ...             ...    ...
96                     Witness for the Prosecution            1957    8.4
97                                  Paths of Glory            1957    8.4
98                                    Sunset Blvd.            1950    8.4
99                              The Great Dictator            1940    8.4
100                                     Chhichhore            2019    8.3

[100 rows x 3 columns]

#### Q.3 Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [8]:
url = 'https://www.imdb.com/india/top-rated-indian-movies/'

In [9]:
def Indian_Movies(url):
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # Since we Need information on Name , year and Rating, we create a empty List for each feature
    
    Indian_Movie_name = [name.a.text for name in soup.find_all('td',class_='titleColumn')][:99]
    
    Ratings = [rate.text.replace('\n','') for rate in soup.find_all('td',class_='ratingColumn imdbRating')][:99]
    
    Released_Year = [year.text.replace('(','').replace(')','') for year in soup.find_all('span',class_='secondaryInfo') ][:99]
    
    # Creating and putting values in a DataFrame
    data = {'Name of movie': Indian_Movie_name, 'Year of Release': Released_Year, 'Rating': Ratings}
    
    Indian_Movie_df = pd.DataFrame(data, index=range(1,100))
    print(Indian_Movie_df)

In [10]:
Indian_Movies(url)

                          Name of movie Year of Release Rating
1   Ramayana: The Legend of Prince Rama            1993    8.5
2            Rocketry: The Nambi Effect            2022    8.4
3                               Golmaal            1979    8.4
4                           777 Charlie            2022    8.4
5                               Nayakan            1987    8.4
..                                  ...             ...    ...
95           The Legend of Bhagat Singh            2002    8.0
96                       Kaakkaa Muttai            2014    8.0
97                          Ustad Hotel            2012    8.0
98             Theeran Adhigaaram Ondru            2017    8.0
99                      Rang De Basanti            2006    8.0

[99 rows x 3 columns]

#### Q.4 Write  python program to display list of respected former presidents of India(i.e. Name , Term of office)

In [11]:
url = 'https://presidentofindia.nic.in/former-presidents.htm'

In [12]:
def Presidents(url):
    
    # Taking request from Website to perform scraping
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # Extarcting the data for Name and Term of Office 
    
    President_name = [name.h3.text for name in soup.find_all('div',class_='presidentListing')]
    Term_of_Office = [term.p.text.replace('Term of Office: ','') for term in soup.find_all('div',class_='presidentListing')]
      
    # Converting Above Data into DataFrame
    
    data = {'Name':President_name,'Term of Office':Term_of_Office}
    Former_Presidents_df = pd.DataFrame(data)
    
    print(Former_Presidents_df)

In [13]:
Presidents(url)

                                           Name  \
0           Shri Ram Nath Kovind (birth - 1945)
1             Shri Pranab Mukherjee (1935-2020)
2   Smt Pratibha Devisingh Patil (birth - 1934)
3            DR. A.P.J. Abdul Kalam (1931-2015)
4            Shri K. R. Narayanan (1920 - 2005)
5           Dr Shankar Dayal Sharma (1918-1999)
6               Shri R Venkataraman (1910-2009)
7                  Giani Zail Singh (1916-1994)
8         Shri Neelam Sanjiva Reddy (1913-1996)
9          Dr. Fakhruddin Ali Ahmed (1905-1977)
10     Shri Varahagiri Venkata Giri (1894-1980)
11                 Dr. Zakir Husain (1897-1969)
12     Dr. Sarvepalli Radhakrishnan (1888-1975)
13             Dr. Rajendra Prasad (1884-1963)

                                       Term of Office
0                     25 July, 2017 to 25 July, 2022
1                     25 July, 2012 to 25 July, 2017
2                     25 July, 2007 to 25 July, 2012
3                     25 July, 2002 to 25 July, 2007
4                     25 July, 1997 to 25 July, 2002
5                     25 July, 1992 to 25 July, 1997
6                     25 July, 1987 to 25 July, 1992
7                     25 July, 1982 to 25 July, 1987
8                     25 July, 1977 to 25 July, 1982
9                24 August, 1974 to 11 February, 1977
10  3 May, 1969 to 20 July, 1969 and 24 August, 19...
11                        13 May, 1967 to 3 May, 1969
12                       13 May, 1962 to 13 May, 1967
13                   26 January, 1950 to 13 May, 1962

#### Q5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating

In [14]:
url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

In [15]:
def ODI_teams_mens(url):
     
    # Taking request from Website to perform scraping
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # We create a empty list for all attributes
    
    Team_Name = [i.text for i in soup.find_all('span',class_='u-hide-phablet')]
            
    # In Matches to extract the first match,points and rating we have different class than the rest of the body    
        
    Matches = []
    Points = []
    
    match =  soup.find('td',class_='rankings-block__banner--matches')
    Matches.append(match.text)
    
    point = soup.find('td',class_='rankings-block__banner--points')
    Points.append(point.text)
    
    # Now we will extract the info from the body of the table    
    # Here since the Matches and Points have same classes we create a condition where len(Matches)= 2
    for j in soup.find_all('td',class_='table-body__cell u-center-text'):
        if len(j.text)==2:
            Matches.append(j.text)
        else:
            Points.append(j.text)
    
    
    
    Ratings = []
    
    r =  soup.find('td',class_='rankings-block__banner--rating u-text-right')
    Ratings.append(r.text.replace('\n','').replace(' ',''))  
    
    
    for rate in soup.find_all('td',class_ = 'table-body__cell u-text-right rating'):
        Ratings.append(rate.text)
    
    
    Team_Name = Team_Name[:10]
    Matches = Matches[:10]
    Ratings = Ratings[:10]
    Points = Points[:10]
    
    data ={'Team Name':Team_Name,'Matches':Matches,'Points':Points,'Ratings':Ratings}
    
    df = pd.DataFrame(data,index=range(1,11))
    print(df)

In [16]:
ODI_teams_mens(url)

       Team Name Matches Points Ratings
1    New Zealand      23  2,670     116
2        England      30  3,400     113
3      Australia      32  3,572     112
4          India      35  3,866     110
5       Pakistan      22  2,354     107
6   South Africa      24  2,392     100
7     Bangladesh      30  2,753      92
8      Sri Lanka      30  2,677      89
9    Afghanistan      19  1,380      73
10   West Indies      41  2,902      71

#### b) Top 10 ODI Batsmen along with the records of their team and rating.

In [17]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'

In [18]:
def ODI_Bat_men(url):
    
    # Taking request from Website to perform scraping
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # We create a empty list for all attributes
    
    # In Matches to extract the name,team and rating we have different class than the rest of the body
    Player_Name = []
    #Extracting First name
    name = soup.find('div',class_="rankings-block__banner--name")
    Player_Name.append(name.text)
        
    # Scraping names from rest of the body
    
    for i in soup.find_all('td',class_="table-body__cell name"):
        Player_Name.append(i.text.replace('\n',''))
    
    Team = []

    first = soup.find('div',class_='rankings-block__banner--nationality')
    Team.append(first.text.split('\n')[2])

    for i in soup.find_all('span',class_="table-body__logo-text"):
        Team.append(i.text)
        
        
        
    RATING = []

    rate = soup.find('div',class_="rankings-block__banner--rating")
    RATING.append(rate.text)

    for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
        RATING.append(i.text)
  
     
    Player_Name = Player_Name[:10]
    Team = Team[:10]
    RATING = RATING[:10]   

    data = {'Player':Player_Name,'Team':Team,'Ratings':RATING}
    
    
    if len(Player_Name)==len(Team)==len(RATING):
        Batsmen_df = pd.DataFrame(data,index=range(1,11))
    else:
        print('please rerun the Whole code')
    
    
    print(Batsmen_df)

In [19]:
ODI_Bat_men(url)

                   Player Team Ratings
1              Babar Azam  PAK     890
2             Imam-ul-Haq  PAK     779
3   Rassie van der Dussen   SA     766
4         Quinton de Kock   SA     759
5            David Warner  AUS     747
6             Steve Smith  AUS     719
7          Jonny Bairstow  ENG     710
8             Virat Kohli  IND     707
9            Rohit Sharma  IND     704
10        Kane Williamson   NZ     701

#### c) Top 10 ODI bowlers along with the records of their team and rating.

In [20]:
url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

In [21]:
def ODI_Bowlers_men(url):
    
    
    # Taking request from Website to perform scraping
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # We create a empty list for all attributes
    
    
    Bowler_name = []
     
    #Extracting First name
    
    name = soup.find('div',class_='rankings-block__banner--name-large')
    Bowler_name.append(name.text)
    
    # Scraping names from rest of the body
    
    for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
        Bowler_name.append(i.text.replace('\n',''))
    
    
    Bowler_team = []
    
    #Extracting First team name
    
    team = soup.find('div',class_='rankings-block__banner--nationality')
    Bowler_team.append(team.text.replace('\n','').replace(' ',''))
    
    # Scraping team names from rest of the body
    
    for i in soup.find_all('span',class_='table-body__logo-text'):
        Bowler_team.append(i.text)
    
    
    Bowler_Rating = []
    
    #Extracting First rating
    
    rates = soup.find('div',class_='rankings-block__banner--rating')
    Bowler_Rating.append(rates.text)

    # Scraping rating from rest of the body
    
    for i in soup.find_all('td',class_='table-body__cell rating'):
        Bowler_Rating.append(i.text)
    
    Bowler_name = Bowler_name[:10]
    Bowler_team = Bowler_team[:10]
    Bowler_Rating = Bowler_Rating[:10]
    
    Bowler_data = {'Bowler Name':Bowler_name,'Team':Bowler_team,'Rating':Bowler_Rating}
    
    if len(Bowler_team)==len(Bowler_name)==len(Bowler_Rating):
        
        Bowler_df = pd.DataFrame(Bowler_data,index=range(1,11))
        print(Bowler_df)
    else:
        pass

In [22]:
ODI_Bowlers_men(url)

          Bowler Name Team Rating
1         Trent Boult   NZ    760
2      Josh Hazlewood  AUS    727
3      Mitchell Starc  AUS    665
4      Shaheen Afridi  PAK    661
5          Matt Henry   NZ    656
6          Adam Zampa  AUS    655
7        Mehedi Hasan  BAN    655
8    Mujeeb Ur Rahman  AFG    650
9   Mustafizur Rahman  BAN    640
10        Rashid Khan  AFG    635

#### Q6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [23]:
url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

In [24]:
def Women_ODI_Teams(url):
    
    # Taking request from Website to perform scraping
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # We create a empty list for all attributes
    
    Women_Team = []

    for i in soup.find_all('span',class_='u-hide-phablet'):
        Women_Team.append(i.text)
    
    
    Women_Matches = []
    Women_Team_Points = []

    points = soup.find('td',class_='rankings-block__banner--points')
    Women_Team_Points.append(points.text)

    m = soup.find('td',class_='rankings-block__banner--matches')
    Women_Matches.append(m.text)

    for i in soup.find_all('td',class_='table-body__cell u-center-text'):
        if len(i.text)<=2:
            Women_Matches.append(i.text)
        else: 
            Women_Team_Points.append(i.text)
    
    
    Women_Team_rating = []

    r = soup.find('td',class_='rankings-block__banner--rating u-text-right')
    Women_Team_rating.append(r.text.replace('\n','').replace(' ',''))

    for i in soup.find_all('td',class_='table-body__cell u-text-right rating'):
        Women_Team_rating.append(i.text)
       
    Women_Team = Women_Team[:10]
    Women_Matches = Women_Matches[:10]    
    Women_Team_Points = Women_Team_Points[:10]    
    Women_Team_rating = Women_Team_rating[:10]
    
    
    data = {'Team(Women)':Women_Team,'Matches':Women_Matches,'Points':Women_Team_Points,'Rating':Women_Team_rating}
    
    
    if len(Women_Team)==len(Women_Matches)==len(Women_Team_Points)==len(Women_Team_rating):
        Women_team_df = pd.DataFrame(data,index=range(1,11))
        print(Women_team_df)
    else:
        pass

In [25]:
Women_ODI_Teams(url)

     Team(Women) Matches Points Rating
1      Australia      18  3,061    170
2   South Africa      26  3,098    119
3        England      25  2,904    116
4          India      27  2,820    104
5    New Zealand      24  2,425    101
6    West Indies      24  2,334     97
7     Bangladesh      12    932     78
8       Thailand       8    572     72
9       Pakistan      24  1,519     63
10     Sri Lanka       8    353     44

#### b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [26]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'

In [27]:
def Women_Batting(url):
    # Taking request from Website to perform scraping
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # We create a empty list for all attributes
    
    Women_name = []


    n = soup.find('div',class_='rankings-block__banner--name-large')
    Women_name.append(n.text)

    for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
        Women_name.append(i.text.replace('\n',''))

    
    
    
    Women_Bat_Team = []

    n = soup.find('div',class_='rankings-block__banner--nationality')
    Women_Bat_Team.append(n.text.replace('\n','').replace(' ',''))

    for i in soup.find_all('span',class_='table-body__logo-text'):
        Women_Bat_Team.append(i.text)
    
    
    Women_Bat_Rating = []

    r = soup.find('div',class_='rankings-block__banner--rating')
    Women_Bat_Rating.append(r.text)

    for i in soup.find_all('td',class_='table-body__cell rating'):
        Women_Bat_Rating.append(i.text)
    

    
    
    Women_name = Women_name[:10]
    Women_Bat_Team = Women_Bat_Team[:10]
    Women_Bat_Rating = Women_Bat_Rating[:10]
    
    data = {'Name(Women)':Women_name,'Team':Women_Bat_Team,'Rating':Women_Bat_Rating}
    
    if len(Women_name)==len(Women_Bat_Team)==len(Women_Bat_Rating):
        df = pd.DataFrame(data,index=range(1,11))
        print(df)
    else:
        pass

In [28]:
Women_Batting(url)

            Name(Women) Team Rating
1          Alyssa Healy  AUS    785
2           Beth Mooney  AUS    749
3       Laura Wolvaardt   SA    732
4        Natalie Sciver  ENG    725
5      Harmanpreet Kaur  IND    716
6       Smriti Mandhana  IND    714
7           Meg Lanning  AUS    710
8        Rachael Haynes  AUS    701
9     Amy Satterthwaite   NZ    661
10  Chamari Athapaththu   SL    655

#### c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [29]:
url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder'

In [30]:
def Women_All_Rounder(url):
    
    # Taking request from Website to perform scraping
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # We create a empty list for all attributes
    All_Name = []

    name = soup.find('div',class_='rankings-block__banner--name-large')
    All_Name.append(name.text)

    for i in soup.find_all('td',class_='table-body__cell rankings-table__name name'):
        All_Name.append(i.text.replace('\n',''))
    
    
    All_team = []

    team = soup.find('div',class_='rankings-block__banner--nationality')
    All_team.append(team.text.replace('\n','').replace(' ',''))

    for i in soup.find_all('span',class_='table-body__logo-text'):
        All_team.append(i.text)
    

    All_Rating = []

    rate = soup.find('div',class_='rankings-block__banner--rating')
    All_Rating.append(rate.text)

    for i in soup.find_all('td',class_='table-body__cell rating'):
        All_Rating.append(i.text)
    
    All_Name = All_Name[:10]
    All_team = All_team[:10]
    All_Rating = All_Rating[:10]
    
    data = {'Name(Women)':All_Name,'Team':All_team,'Rating':All_Rating}
    
    if len(All_Name)==len(All_team)==len(All_Rating):
        All_df = pd.DataFrame(data,index = range(1,11))
        print(All_df)
        
    else:
        pass

In [31]:
Women_All_Rounder(url)

         Name(Women) Team Rating
1    Hayley Matthews   WI    380
2       Ellyse Perry  AUS    374
3     Natalie Sciver  ENG    357
4        Amelia Kerr   NZ    356
5     Marizanne Kapp   SA    349
6      Deepti Sharma  IND    322
7   Ashleigh Gardner  AUS    270
8      Jess Jonassen  AUS    246
9     Jhulan Goswami  IND    214
10   Katherine Brunt  ENG    207

#### Q7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline ii) Time iii) News Link

In [32]:
url = 'https://www.cnbc.com/latest/'

In [33]:
def News_Headlines(url):
    # Taking request from Website to perform scraping
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # We create a empty list for all attributes
    
    Headline = [news.text for news in soup.find_all('a',class_="Card-title")]
    Time = [time.text for time in soup.find_all('span',class_="Card-time")  ]
    Newslink = [link.a.get('href') for link in soup.find_all('div',class_='Card-titleContainer')]
   
    
    print(Headline)
    print(Newslink)
    print(Time)

In [34]:
News_Headlines(url)

['Why Silicon Valley is so hot on nuclear energy and what it means for the industry', 'Barclays downgrades Blackstone after firm limits real estate fund withdrawals', 'Buy this online real estate stock before the sector rebounds in 2024, UBS says', 'RBC downgrades DoorDash and slashes price target citing slowing order growth', 'Kremlin says Putin open to talks; Zelenskyy aide says up to 13,000 Ukrainian soldiers killed in war', 'U.S. Treasury yields mixed as traders await key U.S. jobs report', "Elon Musk suspends Ye's Twitter account after swastika post", 'OPEC+ to consider deeper oil output cuts ahead of Russia sanctions', 'European markets lower as investors await U.S. payrolls data', "The U.S. wants the EU to be strict with China. But Europe can't afford it", 'Rolls-Royce uses hydrogen produced with wind and tidal power to test jet engine', 'Singapore and New York are the most expensive cities to live in, EIU says', "Hong Kong's Hang Seng still in bear market territory despite best month since 1998", 'Tesla CEO Elon Musk kicks off first Semi truck deliveries', "Citi names 6 global stocks that capture both 'defensive growth and value'", "BlackRock unit says it's time for a new portfolio playbook, and reveals how to position", "Cramer's lightning round: Seagate is not for this market", "Wrong Covid test results in China raise concerns 'the pandemic may never end'", 'Jim Cramer says he likes these 3 restaurant stocks for a ‘normalizing’ economy', "Asia-Pacific markets fall as investors seek clarity on China's Covid rule changes", 'Powell’s inflation remarks are a ‘green light’ to stay in stocks, Cramer says', 'Stock futures fall slightly as investors await U.S. jobs data', "Las Vegas Strip's biggest property owner in deal to take full ownership of two casinos", 'Appeals court vacates order appointing Trump Mar-a-Lago search warrant watchdog', '4 ways to get free Wi-Fi on your next flight', "Pro Picks: Watch all of Thursday's big stock calls on CNBC", 'Stocks making the biggest moves after hours: Asana, Zscaler, Marvell and more', 'FCC authorizes SpaceX to begin deploying next-generation Starlink satellites', 'Fisker faces liquidity questions after short seller claims its cash is "tied up"', "Ye's deal to buy conservative social media app Parler is called off", 'CNN lays off hundreds of staffers after business review − read the memo', "FDA pulls Covid treatment because it's not effective against dominant variants", 'Mark Mahaney says this travel stock should weather a slowdown in demand', 'Ulta Beauty boosts outlook, as shoppers keep splurging on makeup', 'Senate approves bill enforcing railroad labor agreement before strike deadline']
['https://www.cnbc.com/2022/12/02/why-silicon-valley-is-so-hot-on-nuclear-energy.html', 'https://www.cnbc.com/2022/12/02/russia-ukraine-live-updates.html', 'https://www.cnbc.com/2022/12/02/us-treasury-yields-ahead-of-key-us-jobs-report.html', 'https://www.cnbc.com/2022/12/02/elon-musk-suspends-yes-twitter-account-after-swastika-post.html', 'https://www.cnbc.com/2022/12/02/opec-meeting-oil-output-cuts-on-the-table-ahead-of-russia-sanctions.html', 'https://www.cnbc.com/2022/12/02/european-markets-open-to-close-as-investors-react-to-us-jobs-data.html', 'https://www.cnbc.com/2022/12/02/the-us-wants-the-eu-to-be-strict-with-china-but-europe-cant-afford-it.html', 'https://www.cnbc.com/2022/12/02/rolls-royce-uses-green-hydrogen-in-jet-engine-test.html', 'https://www.cnbc.com/2022/12/02/singapore-and-new-york-are-the-most-expensive-cities-to-live-in-eiu.html', 'https://www.cnbc.com/2022/12/02/hang-seng-still-in-bear-market-territory-despite-best-month-since-1998.html', 'https://www.cnbc.com/2022/12/01/tesla-ceo-elon-musk-kicks-off-semi-truck-deliveries.html', 'https://www.cnbc.com/2022/12/01/cramers-lightning-round-seagate-is-not-for-this-market.html', 'https://www.cnbc.com/2022/12/02/china-people-worry-wrong-covid-test-results-mean-pandemic-wont-end.html', 'https://www.cnbc.com/2022/12/01/jim-cramer-says-he-likes-these-3-restaurant-stocks.html', 'https://www.cnbc.com/2022/12/02/asia-pacific-markets-jobs.html', 'https://www.cnbc.com/2022/12/01/cramer-powells-inflation-remarks-a-green-light-to-stay-in-stocks.html', 'https://www.cnbc.com/2022/12/01/stock-market-futures-open-to-close-news.html', 'https://www.cnbc.com/2022/12/01/big-las-vegas-property-owner-to-take-full-ownership-of-two-casinos.html', 'https://www.cnbc.com/2022/12/01/appeals-court-vacates-order-appointing-trump-mar-a-lago-search-warrant-watchdog.html', 'https://www.cnbc.com/select/how-to-get-free-in-flight-wi-fi/', 'https://www.cnbc.com/2022/12/01/stocks-making-the-biggest-moves-after-hours-asana-zscaler-marvell-and-more.html', 'https://www.cnbc.com/2022/12/01/fcc-authorizes-spacex-gen2-starlink-up-to-7500-satellites.html', 'https://www.cnbc.com/2022/12/01/ev-maker-fisker-faces-liquidity-questions-after-short-seller-claims-its-cash-is-tied-up.html', 'https://www.cnbc.com/2022/12/01/ye-deal-to-buy-parler-called-off.html', 'https://www.cnbc.com/2022/12/01/cnn-lays-off-hundreds-of-staffers-read-the-memo.html', 'https://www.cnbc.com/2022/12/01/covid-fda-pulls-antibody-bebtelovimab-because-not-effective-against-omicron-bqpoint1.html', 'https://www.cnbc.com/2022/12/01/ulta-beauty-ulta-earnings-q3-2022.html', 'https://www.cnbc.com/2022/12/01/senate-passes-rail-labor-agreement-ahead-of-strike-sends-to-biden.html']
['15 min ago', '34 min ago', 'an hour ago', '2 hours ago', '24 min ago', '3 hours ago', 'an hour ago', '4 hours ago', '43 min ago', '5 hours ago', '5 hours ago', '6 hours ago', '5 hours ago', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', '5 hours ago', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', '5 hours ago', 'Thu, Dec 1st 2022', 'Moments Ago', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022', 'Thu, Dec 1st 2022']

#### Q.8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days.Scrape below mentioned details :
i) Paper Title ii) Authors iii) Published Date iv) Paper URL

In [35]:
url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'

In [36]:
def AI_Articles(url):
    
     # Taking request from Website to perform scraping
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # We create a empty list for all attributes
    
    Paper_Title = [i.text for i in soup.find_all('h2',class_='sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg') ]
    Authors = [i.text for i in soup.find_all('span',class_='sc-1w3fpd7-0 dnCnAO')]
    Published_Date = [i.text for i in soup.find_all('span',class_='sc-1thf9ly-2 dvggWt')]
    Paper_URL = [i.get('href') for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm") ]
    
    # Creating a DataFrame
    
    data = {'Paper Title':Paper_Title,'Authors':Authors,'Published Date':Published_Date,'Paper URL':Paper_URL}
    df = pd.DataFrame(data,index=range(1,26))
    
    print(df)

In [37]:
AI_Articles(url)

                                          Paper Title  \
1                                    Reward is enough
2                           Making sense of raw input
3   Law and logic: A review from an argumentation ...
4              Creativity and artificial intelligence
5   Artificial cognition for social human–robot in...
6   Explanation in artificial intelligence: Insigh...
7                       Making sense of sensory input
8   Conflict-based search for optimal multi-agent ...
9   Between MDPs and semi-MDPs: A framework for te...
10  The Hanabi challenge: A new frontier for AI re...
11  Evaluating XAI: A comparison of rule-based and...
12           Argumentation in artificial intelligence
13  Algorithms for computing strategies in two-pla...
14      Multiple object tracking: A literature review
15  Selection of relevant features and examples in...
16  A survey of inverse reinforcement learning: Ch...
17  Explaining individual predictions when feature...
18  A review of possible effects of cognitive bias...
19  Integrating social power into the decision-mak...
20  “That's (not) the output I expected!” On the r...
21  Explaining black-box classifiers using post-ho...
22  Algorithm runtime prediction: Methods & evalua...
23              Wrappers for feature subset selection
24  Commonsense visual sensemaking for autonomous ...
25         Quantum computation, quantum theory and AI

                                              Authors  Published Date  \
1   Silver, David, Singh, Satinder, Precup, Doina,...    October 2021
2           Evans, Richard, Bošnjak, Matko and 5 more    October 2021
3                   Prakken, Henry, Sartor, Giovanni     October 2015
4                                 Boden, Margaret A.      August 1998
5     Lemaignan, Séverin, Warnier, Mathieu and 3 more       June 2017
6                                        Miller, Tim    February 2019
7   Evans, Richard, Hernández-Orallo, José and 3 more      April 2021
8   Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...   February 2015
9   Sutton, Richard S., Precup, Doina, Singh, Sati...     August 1999
10        Bard, Nolan, Foerster, Jakob N. and 13 more      March 2020
11  van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...   February 2021
12               Bench-Capon, T.J.M., Dunne, Paul E.     October 2007
13       Bošanský, Branislav, Lisý, Viliam and 3 more     August 2016
14             Luo, Wenhan, Xing, Junliang and 4 more      April 2021
15                      Blum, Avrim L., Langley, Pat    December 1997
16                   Arora, Saurabh, Doshi, Prashant      August 2021
17      Aas, Kjersti, Jullum, Martin, Løland, Anders   September 2021
18  Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...       June 2021
19    Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.    December 2016
20                      Riveiro, Maria, Thill, Serge   September 2021
21  Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...        May 2021
22  Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...    January 2014
23                      Kohavi, Ron, John, George H.    December 1997
24  Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...    October 2021
25                                   Ying, Mingsheng    February 2010

                                            Paper URL
1   https://www.sciencedirect.com/science/article/...
2   https://www.sciencedirect.com/science/article/...
3   https://www.sciencedirect.com/science/article/...
4   https://www.sciencedirect.com/science/article/...
5   https://www.sciencedirect.com/science/article/...
6   https://www.sciencedirect.com/science/article/...
7   https://www.sciencedirect.com/science/article/...
8   https://www.sciencedirect.com/science/article/...
9   https://www.sciencedirect.com/science/article/...
10  https://www.sciencedirect.com/science/article/...
11  https://www.sciencedirect.com/science/article/...
12  https://www.sciencedirect.com/science/article/...
13  https://www.sciencedirect.com/science/article/...
14  https://www.sciencedirect.com/science/article/...
15  https://www.sciencedirect.com/science/article/...
16  https://www.sciencedirect.com/science/article/...
17  https://www.sciencedirect.com/science/article/...
18  https://www.sciencedirect.com/science/article/...
19  https://www.sciencedirect.com/science/article/...
20  https://www.sciencedirect.com/science/article/...
21  https://www.sciencedirect.com/science/article/...
22  https://www.sciencedirect.com/science/article/...
23  https://www.sciencedirect.com/science/article/...
24  https://www.sciencedirect.com/science/article/...
25  https://www.sciencedirect.com/science/article/...

#### Q9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name ii) Cuisine iii) Location iv) Ratings v) Image URL

In [38]:
url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'

In [39]:
def Dineout(url):
    
     # Taking request from Website to perform scraping
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # We create a empty list for all attributes
    
    
    Restaurant_name = [i.text for i in soup.find_all('a',class_='restnt-name ellipsis')]
        
    Cuisine = [i.text.split('|')[1] for i in soup.find_all('span',class_='double-line-ellipsis')] 
    
    Location =[i.text for i in soup.find_all('div',class_='restnt-loc ellipsis')]
        
    Ratings = [i.text for i in soup.find_all('div',class_='restnt-rating rating-4')]
   
    Image_URL = [i.get('data-src') for i in soup.find_all('img',class_='no-img')]
    
    # Creating a DataFrame
    
    data = {'Restaurant Name':Restaurant_name,'Cuisine':Cuisine,'Location':Location,'Ratings':Ratings,'Image_URL':Image_URL}
    
    
    df = pd.DataFrame(data,index=range(1,10))
    
    print(df)

In [40]:
Dineout(url)

                    Restaurant Name                        Cuisine  \
1                   Castle Barbeque          Chinese, North Indian
2                   Jungle Jamboree   North Indian, Asian, Italian
3                        Cafe Knosh           Italian, Continental
4                   Castle Barbeque          Chinese, North Indian
5              The Barbeque Company          North Indian, Chinese
6                       India Grill          North Indian, Italian
7                    Delhi Barbeque                   North Indian
8  The Monarch - Bar Be Que Village                   North Indian
9                 Indian Grill Room          North Indian, Mughlai

                                            Location Ratings  \
1                     Connaught Place, Central Delhi     4.1
2             3CS Mall,Lajpat Nagar - 3, South Delhi     3.9
3  The Leela Ambience Convention Hotel,Shahdara, ...     4.3
4             Pacific Mall,Tagore Garden, West Delhi     3.9
5                 Gardens Galleria,Sector 38A, Noida       4
6               Hilton Garden Inn,Saket, South Delhi     3.9
7     Taurus Sarovar Portico,Mahipalpur, South Delhi     3.6
8  Indirapuram Habitat Centre,Indirapuram, Ghaziabad     3.8
9   Suncity Business Tower,Golf Course Road, Gurgaon     4.3

                                           Image_URL
1  https://im1.dineout.co.in/images/uploads/resta...
2  https://im1.dineout.co.in/images/uploads/resta...
3  https://im1.dineout.co.in/images/uploads/resta...
4  https://im1.dineout.co.in/images/uploads/resta...
5  https://im1.dineout.co.in/images/uploads/resta...
6  https://im1.dineout.co.in/images/uploads/resta...
7  https://im1.dineout.co.in/images/uploads/resta...
8  https://im1.dineout.co.in/images/uploads/resta...
9  https://im1.dineout.co.in/images/uploads/resta...

#### Q10) Write a python program to scrape the details of top publications from Google Scholar from
i) Rank ii) Publication iii) h5-index iv) h5-median

In [41]:
url = 'https://scholar.google.com/citations?view_op=top_venues&hl=en'

In [42]:
def Scholar_form(url):
    # Taking request from Website to perform scraping
    
    response = requests.get(url)
    soup = BeautifulSoup(response.content,'html.parser')
    
    # We create a empty list for all attributes
    
    Publication = [i.text for i in soup.find_all('td',class_='gsc_mvt_t')]
    
    h5_index = [i.text for i in soup.find_all('a',class_='gs_ibl gsc_mp_anchor')]
     
    h5_median = [i.text for i in soup.find_all('span',class_='gs_ibl gsc_mp_anchor')]
        
    Rank = [i.text.replace('.','')  for i in soup.find_all('td',class_='gsc_mvt_p')]
   
    #Creating a DataFrame
     
    data = {'Rank':Rank,'Publication':Publication, 'h5-index':h5_index, 'h5-median':h5_median}
    Publication_df = pd.DataFrame(data)
    
    Publication_df.set_index('Rank')
    
    
    print(Publication_df)

In [43]:
Scholar_form(url)

   Rank                                        Publication h5-index h5-median
0     1                                             Nature      444       667
1     2                The New England Journal of Medicine      432       780
2     3                                            Science      401       614
3     4  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5                                         The Lancet      354       635
..  ...                                                ...      ...       ...
95   96                       Journal of Business Research      145       233
96   97                                   Molecular Cancer      145       209
97   98                                            Sensors      145       201
98   99                              Nature Climate Change      144       228
99  100                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]